<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Strava Coding Test</title>
  </head>
  <body>
		<h1>42Race Mini</h1>
		<p>Click the button below to connect your Strava account</p>
		<form action="/connect" method="get">
			<input type="submit" value="Connect Strava Account">
		</form>
  </body>
</html>