<!DOCTYPE html>
<html lang="en">

<head>
  <title>Strava Coding Test</title>
</head>

<body>
  <h1>42Race Mini</h1>
  <p>You have disconnected your Strava account</p>
  <p>Click the button below to connect your Strava account again</p>
  <form action="/connect" method="get">
    <input type="submit" value="Connect Strava Account">
  </form>
</body>

</html>